<?xml version="1.0"?>
<robot name="rb_theron"
	xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!-- This is only used for MoveitStudio -->
	<xacro:attribute name="web_ui_gripper" value="package://rb_theron_description/urdf/door_opening_mechanism/components/hook.urdf" />

	<xacro:property name="PI" value="3.1415926535897931"/>
	<!-- Flag to determine if the base_footprint should be published or not -->
	<xacro:property name="publish_bf" value="true"/>

	<!-- This name should match the "-name" argument we need to declare when spawing the robot into ign gazebo -->
	<xacro:property name="robot_name" value="rb_theron"/>

	<!-- Flag to select the high or low quality model -->
	<xacro:property name="hq" value="false" />

	<xacro:arg name="prefix" default=""/>

	<!-- ros2_control_hardware_type:
		mock_components = ros2_control only in rviz
		gz_ros2_control = ros2_control in gazebo
		dryve_d1 = ros2_control only in real life
	-->
    <xacro:arg name="ros2_control_hardware_type" default="mock_components" />

	<xacro:arg name="ros2_control_hardware_type_positon_joint" default="mock_components" />

	<xacro:arg name="ros_distro" default="humble" />

    <xacro:include filename="$(find rb_theron_description)/urdf/inertia.urdf.xacro" />

	<!-- We add the ros2_control for the position joint here to launch the hardware interface for the position joint -->
	<xacro:include filename="$(find rb_theron_description)/urdf/door_opening_mechanism/ros2_control/position_ros2_control.urdf.xacro" />
	<xacro:position_ros2_control 
		ros2_control_hardware_type_positon_joint="$(arg ros2_control_hardware_type_positon_joint)"
		ros_distro="$(arg ros_distro)">
	</xacro:position_ros2_control>

	<link name="$(arg prefix)base_link">
		<inertial>
		<mass value="0.01" />
		<origin xyz="0.0 0.0 0.0" />
		<xacro:solid_cuboid_inertia m="0.01" w="0.001" h="0.001" d="0.001" />
		</inertial>
		<visual>
		<origin xyz="0 0 0.01" rpy="0 0 0" />
		<geometry>
			<box size="0.001 0.001 0.001" />
		</geometry>
		</visual>
		<collision>
		<origin xyz="0 0 0.01" rpy="0 0 0" />
		<geometry>
			<box size="0.001 0.001 0.001" />
		</geometry>
		</collision>
	</link>

	<!-- ROBAST Door Opening Mechanism -->
	<xacro:include filename="$(find rb_theron_description)/urdf/door_opening_mechanism/door_opening_mechanism.urdf.xacro" />
	<xacro:door_opening_mechanism
	    prefix="$(arg prefix)"
		parent="$(arg prefix)base_link"
		ros2_control_hardware_type="$(arg ros2_control_hardware_type)"
		ros_distro="$(arg ros_distro)"
		hq="${hq}">
		<origin xyz="-0.3 0 0.225" rpy="0 0 0"/>
	</xacro:door_opening_mechanism>
	
</robot>
