<?xml version="1.0"?>
<robot name="rb_theron"
	xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!-- This is only used for MoveitStudio -->
	<xacro:attribute name="web_ui_gripper" value="package://rb_theron_description/urdf/door_opening_mechanism/components/hook.urdf" />

	<!-- Import differential base elements -->
	<xacro:include filename="$(find rb_theron_description)/robots/rb_theron_base.urdf.xacro" />

	<xacro:property name="PI" value="3.1415926535897931"/>
	<!-- Flag to determine if the base_footprint should be published or not -->
	<xacro:property name="publish_bf" value="true"/>

	<!-- This name should match the "-name" argument we need to declare when spawing the robot into ign gazebo -->
	<xacro:property name="robot_name" value="rb_theron"/>

	<!-- Flag to select the high or low quality model -->
	<xacro:property name="hq" value="false" />

	<xacro:arg name="prefix" default=""/>

	<!-- ros2_control_hardware_type:
		mock_components = ros2_control only in rviz
		gz_ros2_control = ros2_control in gazebo
		dryve_d1 = ros2_control only in real life
	-->
    <xacro:arg name="ros2_control_hardware_type" default="mock_components" />

	<xacro:arg name="ros2_control_hardware_type_positon_joint" default="mock_components" />

	<xacro:arg name="ros_distro" default="humble" />

	<!-- Whether the position joint should be modeled as a prismatic joint or just as a fixed joint -->
	<xacro:arg name="model_position_joint" default="false" />

	<!-- If we model the position joint, the sensors need be placed in the base_link frame,
	otherwise they should be placed in the base_footprint frame -->
	<xacro:if value="$(arg model_position_joint)">
		<xacro:property name="sensor_base_frame" value="base_link" />
	</xacro:if>
	<xacro:unless value="$(arg model_position_joint)">
		<xacro:if value="${publish_bf}">
			<xacro:property name="sensor_base_frame" value="base_footprint" />
		</xacro:if>
		<xacro:unless value="${publish_bf}">
			<xacro:property name="sensor_base_frame" value="base_link" />
		</xacro:unless>
	</xacro:unless>

    <xacro:include filename="$(find rb_theron_description)/urdf/bases/theron_base.urdf.xacro" />
    <xacro:include filename="$(find rb_theron_description)/urdf/inertia.urdf.xacro" />

	<xacro:include filename="$(find robotnik_sensors)/urdf/all_sensors.urdf.xacro" />
	<xacro:arg name="back_oak_d_camera_model" default="OAK-D" />
	<xacro:arg name="back_oak_d_base_frame" default="oak-d_frame" />
	<xacro:arg name="back_oak_d_pos_x" default="-0.103" />
	<xacro:arg name="back_oak_d_pos_y" default="0.0" />
	<xacro:arg name="back_oak_d_pos_z" default="0.13721" />
	<xacro:arg name="back_oak_d_roll" default="0.0" />
	<xacro:arg name="back_oak_d_pitch" default="2.617993927" />
	<xacro:arg name="back_oak_d_yaw" default="0.0" />
	<xacro:depthai_camera
		prefix="$(arg prefix)back_top_oak_d_camera"
		parent="$(arg prefix)door_opening_mechanism_link_y_axis_slide"
		sensor_base_frame="door_opening_mechanism_link_y_axis_slide"
		robot_name="${robot_name}"
		prefix_topic="back_top_oak_d_camera"
		camera_model="$(arg back_oak_d_camera_model)"
		base_frame="$(arg back_oak_d_base_frame)"
		cam_pos_x="$(arg back_oak_d_pos_x)"
		cam_pos_y="$(arg back_oak_d_pos_y)"
		cam_pos_z="$(arg back_oak_d_pos_z)"
		cam_roll="$(arg back_oak_d_roll)"
		cam_pitch="$(arg back_oak_d_pitch)"
		cam_yaw="$(arg back_oak_d_yaw)"
		hq="${hq}">
	</xacro:depthai_camera>

    <xacro:theron_base
      prefix="$(arg prefix)"
      publish_bf="${publish_bf}"
      model_position_joint="$(arg model_position_joint)"
      ros2_control_hardware_type_positon_joint="$(arg ros2_control_hardware_type_positon_joint)"
      hq="${hq}"
    />

	<!-- ROBAST Door Opening Mechanism -->
	<xacro:include filename="$(find rb_theron_description)/urdf/door_opening_mechanism/door_opening_mechanism.urdf.xacro" />
	<xacro:door_opening_mechanism
	    prefix="$(arg prefix)"
		parent="$(arg prefix)base_link"
		ros2_control_hardware_type="$(arg ros2_control_hardware_type)"
		ros_distro="$(arg ros_distro)"
		hq="${hq}">
		<origin xyz="-0.3 0 0.225" rpy="0 0 0"/>
	</xacro:door_opening_mechanism>
	
</robot>
