<?xml version="1.0"?>
<robot name="rb_theron"
	xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="box_inertia_robot" params="m x y z">
        <inertia  ixx="${m*(y*y+z*z)/12}" ixy = "0" ixz = "0"
                iyy="${m*(x*x+z*z)/12}" iyz = "0"
                izz="${m*(x*x+z*z)/12}" />
    </xacro:macro>

    <!-- BASE_LINK -->
    <link name="base_link">
      <inertial>
        <mass value="45" />
        <origin xyz="0.0 0.0 0.0" />
        <xacro:box_inertia_robot m="10" x="0.5" y="0.5" z="0.2"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
            <box size="0.5 0.5 0.2"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.5 0.5 0.2"/>
        </geometry>
      </collision>
    </link>
    <gazebo reference="base_link">
        <visual>
            <material>
                <!-- RGBA -->
                <ambient>0.5 0.5 0.5 1</ambient>
                <diffuse>0.5 0.5 0.5 1</diffuse>
                <specular>0.5 0.5 0.5 1</specular>
            </material>
        </visual>
    </gazebo>

	<!-- ROBAST Door Opening Mechanism -->
	<xacro:include filename="$(find rb_theron_description)/urdf/door_opening_mechanism/door_opening_mechanism.urdf.xacro" />
	<xacro:door_opening_mechanism prefix="" parent="base_link" hq="false" >
		<origin xyz="0 0 0.1" rpy="0 0 0"/>
	</xacro:door_opening_mechanism>

  <plugin
    filename="libgz-sim-joint-state-publisher-system"
    name="gz::sim::systems::JointStatePublisher">
  </plugin>

</robot>
