<?xml version="1.0"?>
<robot name="position_ros2_control"
    xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro
        name="position_ros2_control"
        params="
            ros2_control_hardware_type_positon_joint
            ros_distro">

        <ros2_control name="position_ros2_control" type="system">
            <hardware>
                <xacro:if value="${ros2_control_hardware_type_positon_joint == 'mock_components'}">
                    <plugin>mock_components/GenericSystem</plugin>
                    <param name="calculate_dynamics">true</param>
                </xacro:if>
                <xacro:if value="${ros2_control_hardware_type_positon_joint == 'gz_ros2_control'}">
                    <xacro:if value="${ros_distro == 'humble'}">
                        <plugin>ign_ros2_control_base_movement/IgnBaseMovementSystemHardware</plugin>
                        <param name="odom_topic">/diff_drive_base_controller/odom</param>
                        <param name="enable_state_feedback">false</param>
                        <param name="reset_position_state_after_each_trajectory">true</param>
                    </xacro:if>
                    <xacro:unless value="${ros_distro == 'humble'}">
                        <plugin>gz_ros2_control_base_movement/GzBaseMovementSystemHardware</plugin>
                        <param name="odom_topic">/diff_drive_base_controller/odom</param>
                        <param name="enable_state_feedback">false</param>
                        <param name="reset_position_state_after_each_trajectory">true</param>
                    </xacro:unless>
                </xacro:if>
                    <xacro:if value="${ros2_control_hardware_type_positon_joint == 'real_life'}">
                    <plugin>ros2_control_base_movement/BaseMovementSystemHardware</plugin>
                    <param name="odom_topic">/diff_drive_base_controller/odom</param>
                    <param name="enable_state_feedback">false</param>
                    <param name="reset_position_state_after_each_trajectory">true</param>
                </xacro:if>
            </hardware>
            <joint name="position_joint" type="prismatic">
                <param name="initial_position">0.0</param>
                <command_interface name="position" />
                <command_interface name="velocity" />
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>
        </ros2_control>

</xacro:macro>
</robot>