@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 40px;
}

.Mcontainer {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#SimpleMap img {
  padding-top: 150px;
  width: 100%;
  margin-left: auto;
  margin-right: auto; 
  
}


.ControlPanel{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  text-align: center;
  
  
}

#refill_drawer{
  margin-left: 24px !important;
}

#OpenDrawer{
  
}

.DrawerButton {
  width: 100%;
  height: 75px;
  font-size: 24px !important;
  padding-left: 60px !important;
  padding-right: 60px !important;
  max-width: 350px;
  white-space: nowrap;
}
.MDrawerButton {
  width: 100%;
  height: 60px;
  font-size: 18px !important;
  padding-left: 60px !important;
  padding-right: 60px !important;
  white-space: nowrap;
}

.drawerStatusIcon {
  position: absolute;
  right: 20px;
  display:flex;
}

.mapPosition 
{
  
  float: left;
  margin-right: 9px;
  margin-bottom: 5px;
  padding: 1%;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgb(0 0 0 / 60%);
  background-color: #41b9d6;
  color: #ecf0f1;
  transition: background-color .3s;
  font-size: 30px;
  box-sizing: border-box;
}
.mapPosition button
{
  color: #FFFFFF;
}
.mapPosition:hover {
  background-color: #9fa3a1;
}

#mapPositions{
  position: relative;
  left: 10%;
  width: 100%;
  height: 35px;
  color: #fff;
  
}

#AddPosition_executor{
 
}

#emptySelector {
  text-align: center;
  padding-bottom:2% ;
  justify-content:space-between;
  margin-left: 30px;
  margin-right: 30px;
} 

#RobastRobotFront {
  text-align: center;
}

#RobastRobotFront img {
  position:relative;
  width: 200px;
}

.drawer {
  display:flex;
  margin-bottom: 20px;
  flex-grow: 1;
  align-items: center;
  position: relative;
  justify-content: flex-end;
}

.drawer:last-child {
  margin-bottom: 0;
}

#drawer_controlls{
  text-align: center;
  justify-content:center;

}

#drawer_list {
  flex-grow: 1;
  align-items: stretch;
}

.refillDrawers{
  padding-left: 20%;
}

#drawer_page{
  position: relative;
  height: 100px;
  width: 200%;
  background-color: #41b9d6;
}



.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: flex;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

.ROS-Image {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

footer {
  position: relative;
  text-align: center;
  margin-top: 40px;
}
.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 50%;
  padding: 5px;
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}

.popup-content {
  border-radius: 5px;
  padding: 0.5rem;
}

html[data-theme='dark'] .popup-content {
  background-color: rgb(41, 45, 62);
  color: #fff;
  border: 1px solid #9a9595;
}

html[data-theme='light'] .popup-content {
  background-color: #fff;
  color: #000;
  border: 1px solid #d7d7d7;
}

html[data-theme='dark'] .popup-arrow > svg {
  color: rgb(41, 45, 62);
  stroke-width: 2px;
  stroke: #9a9595;
  stroke-dasharray: 30px;
  stroke-dashoffset: -54px;
}

html[data-theme='light'] .popup-arrow > svg {
  color: #fff;
  stroke-width: 2px;
  stroke: #d7d7d7;
  stroke-dasharray: 30px;
  stroke-dashoffset: -54px;
}