version: '3.9'

services:
  # navigation:
  #   image: ghcr.io/robast-gmbh/monorepo/navigation:release
  #   environment:
  #     - ROS_DOMAIN_ID=0
  #     - UID=1000
  #   volumes:
  #     - ./start_scripts/:/start_scripts/:cached
  #     - /tmp/.X11-unix:/tmp/.X11-unix
  #     - /dev/shm:/dev/shm
  #   command: /bin/sh -c "./start_scripts/nav_start.sh"
  #   stop_signal: SIGINT
  #   network_mode: "host"

  #statemachine:
  #  image: ghcr.io/robast-gmbh/monorepo/statemachine:release
  #  environment:
  #    - ROS_DOMAIN_ID=23
  #    - UID=1000
  #    - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
  #  volumes:
  #    - ./start_scripts/:/start_scripts/:cached
  #  command: /bin/sh -c "./start_scripts/statemachine_start.sh"
  #  stop_signal: SIGINT
  #  restart: unless-stopped
  #  network_mode: "host"

  #hardware_nodes:
  #  image: ghcr.io/robast-gmbh/monorepo/hardware_nodes:release
  #  environment:
  #    - ROS_DOMAIN_ID=23
  #    - UID=1000
  #    - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
  #  volumes:
  #    - ./start_scripts/:/start_scripts/:cached
  #    - /dev/shm:/dev/shm
  #  command: /bin/sh -c "./start_scripts/hardware_nodes_start.sh"
  #  stop_signal: SIGINT
  #  restart: unless-stopped
  #  network_mode: "host"

  # sick_safevisionary:
  #   image: ghcr.io/robast-gmbh/monorepo/sick_safevisionary:release
  #   environment:
  #     - ROS_DOMAIN_ID=0
  #     - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
  #   volumes:
  #     - ./start_scripts/:/start_scripts/:cached
  #     - ../../src/ros2/dds_configs/:/ws/dds_configs/:cached
  #   command: /bin/bash -c "source /ws/install/setup.bash; ros2 launch sick_safevisionary_driver driver_node.launch.py frame_id:=robot_sick_safevisionary_link"
  #   stop_signal: SIGINT
  #   restart: unless-stopped
  #   network_mode: "host"
