<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="ros2_control_door_opening_mechanism" params="name prefix">

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>ros2_control_plugin_door_opening_mechanism/DoorOpeningMechanismSystemPositionOnlyHardware</plugin>
        <param name="example_param_hw_start_duration_sec">0</param>
        <param name="example_param_hw_stop_duration_sec">3.0</param>
        <param name="example_param_hw_slowdown">100</param>
      </hardware>

      <joint name="${prefix}door_opening_mechanism_joint_y_axis_slide">
        <command_interface name="position">
          <param name="min">-5</param>
          <param name="max">5</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-5</param>
          <param name="max">5</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}door_opening_mechanism_joint_x_axis_slide">
        <command_interface name="position">
          <param name="min">-5</param>
          <param name="max">5</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-5</param>
          <param name="max">5</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}door_opening_mechanism_joint_rotating_arm">
        <command_interface name="position">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}door_opening_mechanism_joint_freely_rotating_hook">
        <command_interface name="position">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>

  </xacro:macro>

</robot>
