<?xml version="1.0"?>
<robot name="sensor_zed2" xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="depth_camera"
    params="prefix fps baseline hfov width height format near far  prefix_topic:='zed_node'">

    <gazebo reference="${prefix}_base_link">
      <visual>  
        <material>  
          <ambient>0.35 0.35 0.35 1.0</ambient>  
          <diffuse>0.350754 0.350754 0.350754 1.0</diffuse>  
          <specular>0.308273 0.3508273 0.3508273 1.0</specular>  
          <emissive>0.0 0.0 0.0 0.0</emissive>  
        </material>  
      </visual>  
      <sensor name="${prefix}_rgb_camera_optical_frame" type="camera">
				<topic>${prefix_topic}/color</topic>
        <camera name="zed2">
            <horizontal_fov>1.2217</horizontal_fov>
            <image>
                <width>1280</width>
                <height>720</height>
                <format>RGB_INT8</format>
            </image>
            <clip>
                <near>0.1</near>
                <far>100</far>
            </clip>
              <noise>
                <type>gaussian</type>
                <mean>0.0</mean>
                <stddev>0.007</stddev>
            </noise>
        </camera>
      </sensor>

      <sensor name="${prefix}_right_camera_optical_frame" type="depth">
        <topic>${prefix_topic}/${prefix}/depth</topic>
        <camera name="zed2">
          <horizontal_fov>${85.2*M_PI/180.0}</horizontal_fov>
          <image>
            <width>1280</width>
            <height>720</height>
          </image>
          <clip>
            <near>0.3</near>
            <far>10.0</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.007</stddev>
          </noise>
        </camera>
        <always_on>1</always_on>
        <update_rate>10</update_rate>
        <visualize>1</visualize>
      </sensor>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="stereolabs_zed2"
    params="prefix:=zed parent *origin model:=zed format:=R8G8B8 near:=0.5 far:=30  prefix_topic:=zed_node">

    <xacro:if value="${model == 'zed'}">
        <xacro:property name="baseline" value="0.12" />
    </xacro:if>
    <xacro:if value="${model == 'zedm'}">
        <xacro:property name="baseline" value="0.06" />
    </xacro:if>
    <xacro:if value="${model == 'zed2'}">
        <xacro:property name="baseline" value="0.12" />
    </xacro:if>

    <joint name="${prefix}_base_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${prefix}_base_link" />
    </joint>

    <link name="${prefix}_base_link">
       <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="$(find robotnik_sensors)/meshes/${model}.stl"/>
        </geometry>
        <material name="light_zed_grey">
          <color rgba="0.35 0.35 0.35 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="$(find robotnik_sensors)/meshes/${model}.stl" />
        </geometry>
      </collision>
      <inertial>
        <mass value="0.135" />
        <origin xyz="0 0 0" />
        <xacro:solid_cuboid_inertia m="0.135" w="0.033" h="0.175" d="0.03" />
      </inertial>
    </link>

   <!-- Left camera -->
    <joint name="${prefix}_camera_left_joint" type="fixed">
      <origin xyz="0.0 0.06 0.0" rpy="0.0 0.0 0.0" />
      <parent link="${prefix}_base_link" />
      <child link="${prefix}_left_camera_frame" />
    </joint>

    <link name="${prefix}_left_camera_frame"/>

    <joint name="${prefix}_camera_left_optical_joint" type="fixed">
      <origin xyz="0.0 0.0 0.0" rpy="${-M_PI/2} 0.0 ${-M_PI/2}" />
      <parent link="${prefix}_left_camera_frame" />
      <child link="${prefix}_left_camera_optical_frame" />
    </joint>

    <link name="${prefix}_left_camera_optical_frame"/>

    <!-- Right camera-->
    <joint name="${prefix}_camera_right_joint" type="fixed">
      <origin xyz="0.0 -0.06 0.0" rpy="0.0 0.0 0.0" />
      <parent link="${prefix}_base_link" />
      <child link="${prefix}_right_camera_frame" />
    </joint>

    <link name="${prefix}_right_camera_frame"/>

    <joint name="${prefix}_camera_right_optical_joint" type="fixed">
      <origin xyz="0.0 0 0.0" rpy="${-M_PI/2} 0.0 ${-M_PI/2}" />
      <parent link="${prefix}_right_camera_frame" />
      <child link="${prefix}_right_camera_optical_frame" />
    </joint>

    <link name="${prefix}_right_camera_optical_frame"/>

    <!-- Depth image-->
    <joint name="${prefix}_depth_joint" type="fixed">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
      <parent link="${prefix}_base_link" />
      <child link="${prefix}_depth_frame" />
    </joint>

    <link name="${prefix}_depth_frame"/>

    <joint name="${prefix}_depth_optical_joint" type="fixed">
      <origin xyz="0.0 0.0 0.0" rpy="${-M_PI/2} 0.0 ${-M_PI/2}" />
      <parent link="${prefix}_depth_frame" />
      <child link="${prefix}_depth_optical_frame" />
    </joint>

    <link name="${prefix}_depth_optical_frame"/>

      <xacro:depth_camera
        prefix="${prefix}"
        hfov="1.2217"
        baseline="${baseline}"
        fps="30"
        width="1280"
        height="720"
        format="${format}"
        near="${near}"
        far="${far}"
        prefix_topic="${prefix_topic}"
        />
  </xacro:macro>

  <xacro:macro name="sensor_zed2" params="prefix:=zed2 parent sensor_base_frame robot_name hq *origin model:=zed2  prefix_topic:=zed_node" >
    <xacro:stereolabs_zed2 prefix="${prefix}" parent="${parent}" model="${model}" prefix_topic="${prefix_topic}">
      <xacro:insert_block name="origin" />
    </xacro:stereolabs_zed2>
  </xacro:macro>

</robot>
