<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- ROS CONTROL GAZEBO PLUGIN -->
    <xacro:macro name="ros_control" params="prefix publish_bf">

        <gazebo>
            <plugin name="gz_ros2_control::GazeboSimROS2ControlPlugin" filename="gz_ros2_control-system">
                <parameters>$(find rb_theron_description)/config/rb_theron_gz_ros2_controller.yaml</parameters>
            </plugin>
        </gazebo>

    </xacro:macro>

    <xacro:macro name="gazebo_colors" params="prefix">
        <gazebo reference="$(arg prefix)base_footprint">
            <material>Gazebo/Green</material>
        </gazebo>

        <gazebo reference="$(arg prefix)base_link">
            <material>Gazebo/Grey</material>
        </gazebo>

        <gazebo reference="$(arg prefix)front_cover_link">
            <material>Gazebo/Black</material>
        </gazebo>
    </xacro:macro>

</robot>
