# ros2_controller for the arm
controller_manager:
  ros__parameters:
    update_rate: 100 # Hz

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    joint_trajectory_controller:
      type: joint_trajectory_controller/JointTrajectoryController

    mobile_base_controller_cmd_vel:
      type: mobile_base_controller/MobileBaseController

joint_trajectory_controller:
  ros__parameters:
    joints:
      - robot/door_opening_mechanism_joint_y_axis_slide
      - robot/door_opening_mechanism_joint_x_axis_slide
      - robot/door_opening_mechanism_joint_rotating_arm
      - robot/door_opening_mechanism_joint_freely_rotating_hook
      - position_joint
    command_interfaces:
      - velocity
    state_interfaces:
      - position
      - velocity
    command_joints:
      - robot/door_opening_mechanism_joint_y_axis_slide
      - robot/door_opening_mechanism_joint_x_axis_slide
      - robot/door_opening_mechanism_joint_rotating_arm
      - robot/door_opening_mechanism_joint_freely_rotating_hook
      - mobile_base_controller_cmd_vel/position_joint

    state_publish_rate: 50.0 # Defaults to 50
    action_monitor_rate: 20.0 # Defaults to 20
    open_loop_control: false

    gains:
      robot/door_opening_mechanism_joint_y_axis_slide:
        p: 1.0
        i: 0.0
        d: 0.0
        i_clamp: 0.0
        ff_velocity_scale: 10.0
      robot/door_opening_mechanism_joint_x_axis_slide:
        p: 0.0
        i: 0.0
        d: 0.0
        i_clamp: 0.0
        ff_velocity_scale: 10.0
      robot/door_opening_mechanism_joint_rotating_arm:
        p: 1.5
        i: 0.0
        d: 0.5
        i_clamp: 0.0
        ff_velocity_scale: 0.0
      # door_opening_mechanism_joint_freely_rotating_hook:
      #   p: 10.0
      #   i: 1.0
      #   d: 0.1
      position_joint:
        p: 0.0
        i: 0.0
        d: 0.0
        ff_velocity_scale: 1.0

mobile_base_controller_cmd_vel:
  ros__parameters:
    joints:
      - position_joint
    command_interfaces:
      - velocity
    cmd_vel_topic: "robot/robotnik_base_control/cmd_vel"
    use_stamped_vel: false
    min_velocity: 0.001
