<?xml version="1.0"?>
<robot name="simple_mechanism" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="box_inertia_robot" params="m x y z">
        <inertia  ixx="${m*(y*y+z*z)/12}" ixy = "0" ixz = "0"
                iyy="${m*(x*x+z*z)/12}" iyz = "0"
                izz="${m*(x*x+z*z)/12}" />
    </xacro:macro>

    <xacro:macro name="simple_mechanism" params="prefix parent *origin hq">

        <xacro:include filename="$(find rb_theron_description)/urdf/door_opening_mechanism/basic_joint.urdf.xacro" />

        <xacro:basic_joint 
            parent="${parent}"
            joint_name="${prefix}joint_1"
            joint_type="revolute"
            axis_x="0"
            axis_y="1"
            axis_z="0"
            lower_limit="0.0"
            upper_limit="3.14"
            damping="0.1"
            friction="0.3"
            p_gain="50000"
            i_gain="1000"
            d_gain="5000"
            link_name="${prefix}link_1"
            link_origin_x="0.0"
            link_origin_y="0.0"
            link_origin_z="0.0"
            m="2.64"
            x="0.06"
            y="0.06"
            z="0.5"
            r="1"
            g="0"
            b="0">
            <origin xyz="0 0 0.4" rpy="0 0 0"/>
        </xacro:basic_joint>

        <!-- <xacro:basic_joint 
            parent="${prefix}door_opening_mechanism_link_y_axis_slide"
            joint_name="${prefix}door_opening_mechanism_joint_x_axis_slide"
            joint_type="prismatic"
            axis_x="0"
            axis_y="0"
            axis_z="1"
            lower_limit="-0.175"
            upper_limit="0.20"
            damping="0.1"
            friction="0.3"
            p_gain="50000"
            i_gain="100"
            d_gain="5000"
            link_name="${prefix}door_opening_mechanism_link_x_axis_slide"
            link_origin_x="0.0"
            link_origin_y="0.0"
            link_origin_z="0.0"
            m="1"
            x="0.065"
            y="0.015"
            z="0.175"
            r="1"
            g="1"
            b="1">
            <origin xyz="-0.04 0 0" rpy="0 0 1.57079632679"/>
        </xacro:basic_joint> -->

        <!-- <xacro:basic_box
            parent="${prefix}door_opening_mechanism_link_x_axis_slide"
            joint_name="${prefix}door_opening_mechanism_joint_x_axis_slide_screwing"
            link_name="${prefix}door_opening_mechanism_link_x_slide_screwing"
            m="1"
            x="0.073"
            y="0.015"
            z="0.175"
            r="1"
            g="1"
            b="1">
            <origin xyz="0.038 -0.027 0" rpy="0 0 1.57079632679"/>
        </xacro:basic_box>

        <xacro:basic_joint 
            parent="${prefix}door_opening_mechanism_link_x_slide_screwing"
            joint_name="${prefix}door_opening_mechanism_joint_tilting_hook"
            joint_type="revolute"
            axis_x="1"
            axis_y="0"
            axis_z="0"
            lower_limit="-0.02"
            upper_limit="1.6"
            damping="0.1"
            friction="0.3"
            p_gain="10"
            i_gain="10"
            d_gain="1"
            link_name="${prefix}door_opening_mechanism_link_tilting_hook"
            link_origin_x="0.0"
            link_origin_y="0.0"
            link_origin_z="0.1"
            m="0.2"
            x="0.03"
            y="0.03"
            z="0.2"
            r="0"
            g="1"
            b="0">
            <origin xyz="0 -0.025 0" rpy="0 1.57079632679 0"/>
        </xacro:basic_joint> -->

        <!-- Gripper -->
        <!-- <xacro:include filename="$(find rb_theron_description)/urdf/door_opening_mechanism/door_opening_gripper.urdf.xacro" />
        <xacro:door_opening_gripper prefix="${prefix}" parent="${prefix}door_opening_mechanism_link_tilting_hook" >
            <origin xyz="0 0 0.215" rpy="0 1.57079632679 0"/>
        </xacro:door_opening_gripper> -->

        <gazebo>
            <plugin
                filename="libgz-sim-joint-state-publisher-system"
                name="gz::sim::systems::JointStatePublisher">
            </plugin>
        </gazebo>


    </xacro:macro>
</robot>