version: '3.9'

services:
 map_preprocessing:
    image: ghcr.io/robast-gmbh/monorepo/map_preprocessing:devel
  
    volumes:
      - .:/workspace/:cached
      - ../../src/map_preprocessing:/workspace/src/map_preprocessing:cached
      - /tmp/.X11-unix:/tmp/.X11-unix
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    command: /bin/sh -c "while sleep 1000; do :; done"