name: Create Docker Image Machine Learning Tasks
#trigger workflow every day at 00:00
on:
  push:
    branches:
      - main
    paths:
      - src/ros2/machine_learning_tasks/Dockerfile
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      Project-Name: map_preprocessing

    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v3
        with:
          lfs: false
          fetch-depth: 0

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: configures Docker Buildx to create a builder instance for running the image build.
        uses: docker/setup-buildx-action@v2

      - name: Build ${{ env.Project-Name }} devel docker
        uses: docker/build-push-action@v4
        with:
          context: src/${{ env.Project-Name }}
          target: devel
          push: true
          file: src/${{ env.Project-Name }}/Dockerfile
          tags: ghcr.io/robast-gmbh/monorepo/${{ env.Project-Name }}:devel